div.constructor-wrapper
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 20px;
}

div.constructor-wrapper h2
{
    color: #fff;
    letter-spacing: 2px;
    font-size: 30px;
}

div.inner-constructor-wrapper
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

div.image
{
    width: 350px;
    height: 350px;
    
    background-image: url('../img/pics/1.png');
    background-size: contain;

    margin-top: 10px;

    border-radius: 5rem;
}

div.buttons
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 20px;  
}

div.buttons button
{
    transition: all .2s;
}

div.buttons button:hover
{
    transform: scale(1.05);
}

div.params
{
    margin-left: 20px;
}

div.candle-select
{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    margin-top: 15px;
}

div.params div.candle-select:first-child
{
    margin-top: 0px;
}

div.candle-select h3
{
    /* width: 100%; */
    /* text-align: left; */
}

div.type__vars, div.shape__vars, div.color__vars
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

div.type__vars button
{
    margin-right: 10px;
}

div.type__vars button:last-child
{
    margin-right: 0px;
}

/* ТИПЫ СВЕЧ */
div.shape-var
{
    min-width: 120px;
    min-height: 140px;

    background-size: cover;
    background-position: center center;

    margin-right: 20px;
}

div.shape-var.tall
{
    background-image: url('../img/pics/4.png');
}

div.shape-var.circle
{
    background-image: url('../img/pics/3.png');
}

div.shape-var.rectangle
{
    background-image: url('../img/pics/5.png');
}

/* ЦВЕТА СВЕЧ */

div.color-var
{
    width: 40px;
    height: 40px;

    border-radius: 100%;

    margin-right: 20px;
}

div.color-var.red
{
    background-color: red;
}

div.color-var.green
{
    background-color: rgb(53, 221, 53);
}

div.color-var.blue
{
    background-color: blue;
}

input[type="color"]
{
    display: none;
}

label.color-var.user
{
    background-color: #fff;
    background-image: url('../img/icons/plus.png');
    background-position: center center;
    background-size: 65%;

    width: 40px;
    height: 40px;

    border-radius: 100%;
}