div.constructor-wrapper
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 20px;
}

div.constructor-wrapper h2
{
    color: #fff;
    letter-spacing: 2px;
    font-size: 25px;
}

div.inner-constructor-wrapper
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

div.image
{
    width: 350px;
    height: 350px;
    
    background-image: url('../img/pics/1.png');
    background-size: contain;

    margin-top: 10px;

    border-radius: 5rem;
}

div.buttons
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 20px;  
}

div.buttons button
{
    transition: all .2s;
}

div.buttons button:hover
{
    transform: scale(1.05);
}

div.params
{
    margin-left: 20px;
}

div.candle-select
{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    margin-top: 15px;
}

div.params div.candle-select:first-child
{
    margin-top: 0px;
}

div.type__vars, div.shape__vars, div.color__vars
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

p.type-var
{
    font-size: 17px;
    line-height: 20px;
    font-style: normal;

    padding: 7px 20px;

    background: #C4C4C4;
    border-radius: 25px;
}

label.type__vars__label, div.type__vars__label
{
    margin-right: 10px;
}

label.type__vars button, div.type__vars button
{
    margin-right: 10px;
}

label.type__vars button:last-child, div.type__vars button
{
    margin-right: 0px;
}

/* ТИПЫ СВЕЧ */
label.shape-var
{
    min-width: 120px;
    min-height: 140px;

    background-size: cover;
    background-position: center center;

    margin-right: 20px;
}

div.shape__vars label.shape-var:last-child,
div.shape__vars div.shape-var:last-child
{
    margin-right: 0px;
}

div.shape-var
{
    max-width: 100px;
    max-height: 80px;

    min-width: 100px;
    min-height: 80px;

    background-size: contain;
    background-position: center center;

    margin-right: 20px;
}

label.shape-var.tall, div.shape-var.tall
{
    background-image: url('../img/pics/4.png');
}

label.shape-var.circle, div.shape-var.circle
{
    background-image: url('../img/pics/3.png');
}

label.shape-var.rectangle, div.shape-var.rectangle
{
    background-image: url('../img/pics/5.png');
}

/* ЦВЕТА СВЕЧ */

label.color-var, div.color-var
{
    width: 40px;
    height: 40px;

    border-radius: 100%;

    margin-right: 20px;
}

label.color-var.red, div.color-var.red
{
    background-color: red;
}

label.color-var.green, div.color-var.green
{
    background-color: rgb(53, 221, 53);
}

label.color-var.blue, div.color-var.blue
{
    background-color: blue;
}

input[type="color"], input[type="radio"]
{
    display: none;
}

input[type="radio"] + label
{
    border: 2px solid rgba(0, 0, 0, 0);
}

input[type="radio"]:checked + label
{
    border: 2px solid rgba(0, 0, 0, 1);
}

label.color-var.user, div.color-var.user
{
    background-color: #fff;
    background-image: url('../img/icons/plus.png');
    background-position: center center;
    background-size: 65%;

    width: 40px;
    height: 40px;

    border-radius: 100%;
}