label
{
    transition: all .3s;
}

label:hover
{
    cursor: pointer;
}

div.constructor-wrapper
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 20px;
}

div.constructor-wrapper h2
{
    color: #fff;
    letter-spacing: 2px;
    font-size: 25px;

    margin-bottom: 15px;
}

div.inner-constructor-wrapper
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

div.canvas-wrapper
{
    position: relative;
}

canvas
{
    position: absolute !important;
    left: 0;
    top: 0;
}

#constructor-canvas-1
{
    z-index: 3;
    position: absolute;
}

#constructor-canvas-2
{
    z-index: 4;
    position: absolute;
}

#constructor-canvas-3
{
    z-index: 5;
    position: absolute;
} 


div.image
{
    width: 250px;
    height: 250px;

    /* position: absolute;
    z-index: 2; */
    /* left: 0px;
    top: 0px; */

    /* background-image: url('/view/resources/img/pics/1.png'); */
    /* background-image: url('/view/resources/img/pics/4.png'); */
    background-image: url('/view/resources/img/pics/5.png');
    background-size: contain;

    border-radius: 5rem;
}

div.buttons
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 20px;  
}

.buy-button
{
    position: relative;
    outline: none;
    border: none;

    font-size: 17px;
    line-height: 20px;
    font-style: normal;

    padding: 15px 20px;

    background: #C4C4C4;
    border-radius: 0.3rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: all .2s;
}

.buy-button:hover
{
    transform: scale(1.05);
}

div.buttons .buy-button:first-child:hover
{
    background-color: greenyellow;
}

div.buttons .buy-button:nth-child(2):hover
{
    background-color: rgb(217, 255, 1);
}

div.params
{
    margin-left: 40px;
}

div.params h3
{
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.candle-select
{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    margin-top: 15px;
}

div.params div.candle-select:first-child
{
    margin-top: 0px;
}

div.type__vars, div.shape__vars
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

p.type-var
{
    font-size: 17px;
    line-height: 20px;
    font-style: normal;
}

label.type__vars__label, div.type__vars__label
{
    margin-right: 10px;
    padding: 7px 20px;

    background: #C4C4C4;
    border-radius: 25px;

    
}

label.type__vars button, div.type__vars button
{
    margin-right: 10px;
}

label.type__vars button:last-child, div.type__vars button
{
    margin-right: 0px;
}

/* ТИПЫ СВЕЧ */
label.shape-var
{
    min-width: 120px;
    min-height: 140px;

    background-size: cover;
    background-position: center center;

    margin-right: 20px;
}

div.shape__vars label.shape-var:last-child,
div.shape__vars div.shape-var:last-child
{
    margin-right: 0px;
}

div.shape-var
{
    max-width: 100px;
    max-height: 80px;

    min-width: 100px;
    min-height: 80px;

    background-size: contain;
    background-position: center center;

    margin-right: 20px;
}

label.shape-var.tall, div.shape-var.tall
{
    background-image: url('/view/resources/img/pics/4.png');
}

label.shape-var.circle, div.shape-var.circle
{
    background-image: url('/view/resources/img/pics/3.png');
}

label.shape-var.rectangle, div.shape-var.rectangle
{
    background-image: url('/view/resources/img/pics/5.png');
}

/* ЦВЕТА СВЕЧ */

div.color__vars
{
    max-width: 300px;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

label.color-var, div.color-var, label.color-var.input-label
{
    width: 40px;
    height: 40px;

    border-radius: 100%;

    margin-right: 20px;
    margin-top: 10px;
}

label.color-var.input-label
{
    margin-right: 10px;
    background-color: greenyellow;
}

input[type="radio"]#vars__user:checked + label + input + label
{
    display: block;
}

input[type="color"], input[type="radio"]
{
    opacity: 0;
}

input[type="radio"] + label
{
    border: 2px solid rgba(0, 0, 0, 0);
}

input[type="radio"]:checked + label
{
    border: 2px solid rgba(0, 0, 0, 1);

    transform: scale(1.05);
}

label.color-var.user, div.color-var.user
{
    background-color: #fff;
    background-image: url('/view/resources/img/icons/plus.png');
    background-position: center center;
    background-size: 65%;

    width: 40px;
    height: 40px;

    border-radius: 100%;

    display: none;
}

/* Количество */

div.quantity input
{
    outline: none;
    border: none;

    font-size: 15px;
    padding: 5px;
}