div.wrapper
{
    width: 100%;
    min-height: 100vh;
}

div.wrapper *
{
    position: relative;
}

header
{
    background-color: rgba(141, 141, 141, 0.7);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    padding: 20px 0px;
    z-index: 3;
    /* position: fixed; */

    /* width: 100%; */
}

nav
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 0 50px;
}

div.login-window
{
    margin-left: auto;
    position: relative;
}

div.modal-window
{
    border: 1px solid blueviolet;
    background: rgb(149, 56, 236);
    padding: 10px;
    position: absolute;
    top: -150px;
    transition: all .3s;
}

div.modal-window form
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

div.modal-window form input
{
    font-size: 16px;
}

div.modal-window form input[type="password"],
div.modal-window form input[type="submit"]
{
    margin-top: 6px;
}

nav a
{
    color: #000;

    margin-right: 40px;
}

button
{
    position: relative;
    outline: none;
    border: none;

    font-size: 17px;
    line-height: 20px;
    font-style: normal;

    padding: 5px 13px;

    background: #C4C4C4;
    border-radius: 25px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button img 
{
    margin-left: 10px;
}

