div.main-wrapper
{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.main-wrapper > h1
{
    width: 100%;
    color: #fff;
    text-align: center;

    font-size: 50px;
    margin-top: 100px;
}

div.main-up-content
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}

div.main-up-content.left, div.main-up-content.right
{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    margin-top: 20px;

    width: max-content;
}

div.main-up-content.left h1
{
    text-align: right;
}

div.main-up-content.left h1, div.main-up-content.right h1
{
    margin-bottom: 15px;
    width: 100%;
}

div.candles
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

div.candles__candle 
{
    width: 150px;
    height: 150px;

    background-image: url('/view/resources/img/pics/1.png');
    background-size: contain;
    background-position: center center;

    margin-right: 20px;

    border-radius: 15px;

    position: relative;
    transition: all .3s;

    box-shadow: 0px 0px 20px 1px #000;
}

div.candles__candle::before
{
    content: '';

    position: absolute;

    top: -10px;
    left: -10px;

    width: 100px;
    height: 100px;

    background-size: contain;
    background-repeat: no-repeat;
    transition: all .3s;
}

div.candles__candle:hover::before
{
    transform: scale(1.02);
}

div.candles__candle:hover
{
    transform: scale(1.05);
    box-shadow: 0px 0px 30px 1px #000;
}

div.candles__candle.sale::before
{
    background-image: url('/view/resources/img/pics/ribbon.png');
}

div.candles__candle.top::before
{
    background-image: url('/view/resources/img/pics/ribbon-top.png');
}

div.candles div.candles__candle:last-child
{
    margin-right: 0px;
}

div.constructor-source
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    margin-top: 20px;
}

div.constructor-source h2
{
    color: #fff;
    font-size: 35px;
}

div.outer-constructor-wrapper
{
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
a.topAndSale
{
    color: #fff;
    letter-spacing: 3px;

    font-size: 30px;
    font-weight: normal;
    width: 100%;
    text-align: left;

    margin-bottom: 15px;
}
