div.login-window
{
    margin-left: auto;
    position: relative;
}

div.modal-window
{
    background: rgb(158, 158, 158);
    padding: 10px;
    position: absolute;
    top: -400px;
    transition: all .3s;

    border-radius: 10px;
    margin-left: auto;
}

div.modal-window form
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

input.login-input
{

    border: none;
    border-radius: 3px;
    outline: none;

    font-size: 16px;
    margin: 5px 0px 10px 0px;
    padding: 3px;
}

form
{
    margin-bottom: 10px;
}

form div.regAndLog
{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

form div.regAndLog input[type="submit"]
{
    cursor: pointer;
}

form div.regAndLog input[type="submit"],
form div.regAndLog a
{
    background-color: rgb(207, 207, 207); 
    border: none;
    border-radius: 3px;

    font-size: 15px;
    padding: 3px;
    margin: 0px;

    color: #000;
}

ul.login-modal-authtorized li
{
    margin-bottom: 10px;

    background-color: rgba(236, 236, 236, 0.877);
    border-radius: 0.3rem;
    padding: 5px;

    transition: all .3s;
}

ul.login-modal-authtorized li:last-child
{
    margin-bottom: 0px; 
}

ul.login-modal-authtorized li a
{
    text-align: center;
    display: block;
    width: 100%;

    color: #000;
}

ul.login-modal-authtorized li:hover
{
    transform: scale(1.03);
}

a.forgot
{
    color: blue;
    font-size: 13px;
}