div.main-wrapper
{
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.main-wrapper > span
{
    width: 100%;
    color: #fff;
    text-align: center;

    font-size: 50px;
    margin-top: 100px;
}

.grid-container
{
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    grid-gap: 30px 50px;

    margin: 0 auto;
    margin-top: 20px;
}

.grid-element
{
    background-color: #c4c4c4;

    padding: 10px;

    border-radius: 0.5rem;

    min-width: 600px;

    height: max-content;
}

div.item
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    margin-bottom: 20px;
    margin-top: 15px;
}

div.order-info
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
}

img.order-candle
{
    width: 90px;
    border-radius: 0.3rem;
}

div.texts
{
    margin-left: 15px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

div.texts > p
{
    max-width: 450px;
    font-size: 20px;
    margin-bottom: 15px;
}

span.item-price
{
    display: inline-block;
    align-self: flex-end;
}

div.item-buttons
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

div.item-buttons button.item-buttons__buton:first-child
{
    margin-right: 15px;
}

button.item-buttons__buton
{
    background-color: red;
    border-radius: 5px;
    padding: 10px;
}

.grid-1
{
    height: 500px;
}
.grid-container .grid-element:last-child
{
    margin-bottom: 0px;
    margin-right: 0px;
}