div.main-wrapper
{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

div.main-wrapper div.sub-nav
{
    margin-top: 100px;
}

button.edit-prof
{
    background-color: #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;

    padding-left: 30px;
}

button.edit-prof::before
{
    content: '';

    position: absolute;
    left: 5px;
    top: 0;

    height: 100%;
    width: 20px;

    background-image: url('../img/icons/edit.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

}

div.info
{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}

div.photo
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(151, 151, 151, 0.5);
    border-radius: 30px;
    width: 350px;
    height: 350px;
}

div.photo > img
{
    width: 300px;
    height: 300px;
    border-radius: 200px;
}

ul.infoAboutUser
{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

ul.infoAboutUser > li
{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    list-style-type: none;
    padding: 10px;
}

ul.infoAboutUser > li > span
{
    color: rgb(170, 170, 170);
    font-size: 15px;
}

ul.infoAboutUser > li > p
{
    color: white;
    font-size: 30px;

    padding-bottom: 5px;
    border-bottom: 2px solid rgb(170, 170, 170);
    min-width: 400px;
    max-width: 600px;
}

input.edit-input
{
    color: white;
    font-size: 20px; 

    padding: 5px;

    background-color: rgba(0, 0, 0, 0.6);

    outline: none;

    border: 2px solid black;
    border-radius: 0.3rem;

    text-indent: 10px;

    width: 400px;
}