<div class="constructor-wrapper">
    <h2>КОНСТРУКТОР</h2>

    <div class="inner-constructor-wrapper">

        <div class="image-and-buttons">
            <div class="image"></div>

            <div class="buttons">
                <button>КУПИТЬ</button>
                <button>В КОРЗИНУ</button>
            </div>
        </div>

        <div class="params">

            <div class="candle-type-select candle-select">
                <h3>Тип</h3>
                <div class="type__vars">
                    <button class="type-var">Открытая</button>
                    <button class="type-var">В стакане</button>
                </div>
            </div>

            <div class="candle-shape-select candle-select">
                <h3>Форма</h3>
                <div class="shape__vars">
                    <div class="shape-var tall"></div>
                    <div class="shape-var circle"></div>
                    <div class="shape-var rectangle"></div>
                </div>
            </div>

            <div class="candle-color-select candle-select">
                <h3>Цвет</h3>
                <div class="color__vars">
                    <div class="color-var red"></div>
                    <div class="color-var green"></div>
                    <div class="color-var blue"></div>
                    
                    <input type="color" required id="select-candle-color">
                    <label for="select-candle-color" class="color-var user"></label>
                    
                    <!-- <div class="color-var user"></div> -->
                </div>
            </div> 
            
        </div>

    </div>
</div>